<div class="d-flex flex-column" style="border-top-right-radius: 60px; background: url(../../assets/sample.webp); background-color: #0000ffaa; background-blend-mode: multiply;">
  <div class="px-5 d-flex flex-row w-100 justify-content-center" style="padding-top: 30px;">
    <div class="flex-fill my-auto top-sep-white"></div>
    <p class="text-center my-auto mx-3" style="font-size: 36px; color: white;">Our client's review</p>
    <div class="flex-fill my-auto top-sep-white"></div>
  </div>
  <div class="px-5 py-5 d-flex flex-row w-100 justify-content-center">
    <div class="w-50 pe-5" style="border-right: 2px solid white;">
      <p class="mb-0" style="color: white; font-size: 28px; font-weight: bold;">Jyotsana Gupta</p>
      <p class="mb-0 green-color" style="font-size: 18px;">Mumbai, Maharashtra</p>
      <p class="mb-0" style="color: white; font-size: 24px;">Locus Homes took special care of our requirements and created a modern traditional home for us</p>
      <br><br>
      <p class="mb-0" style="color: white; font-size: 28px; font-weight: bold;">Jyotsana Gupta</p>
      <p class="mb-0 green-color" style="font-size: 18px;">Mumbai, Maharashtra</p>
      <p class="mb-0" style="color: white; font-size: 24px;">Locus Homes took special care of our requirements and created a modern traditional home for us</p>
    </div>
    <div class="w-50 ps-5">
      <p class="mb-0" style="color: white; font-size: 28px; font-weight: bold;">Jyotsana Gupta</p>
      <p class="mb-0 green-color" style="font-size: 18px;">Mumbai, Maharashtra</p>
      <p class="mb-0" style="color: white; font-size: 24px;">Locus Homes took special care of our requirements and created a modern traditional home for us</p>
      <br><br>
      <p class="mb-0" style="color: white; font-size: 28px; font-weight: bold;">Jyotsana Gupta</p>
      <p class="mb-0 green-color" style="font-size: 18px;">Mumbai, Maharashtra</p>
      <p class="mb-0" style="color: white; font-size: 24px;">Locus Homes took special care of our requirements and created a modern traditional home for us</p>
    </div>
  </div>
</div>
