<div class="d-flex flex-column main-div">
  <div class="px-lg-5 px-md-3 px-2 d-flex flex-row w-100 justify-content-center" style="padding-top: 30px;">
    <div class="flex-fill my-auto top-sep-white"></div>
    <p class="text-center my-auto mx-md-3 mx-2 title">Our client's review</p>
    <div class="flex-fill my-auto top-sep-white"></div>
  </div>
  <div class="px-lg-5 px-3 py-5 d-flex flex-column w-100 justify-content-center">
    <div class="row w-100 mx-0">
      <div class="col-12 col-md-6 px-0 ps-lg-3 px-md-2 pe-lg-4 border-right">
        <p class="mb-0 mt-3" style="color: white; font-size: 28px; font-weight: bold;">Jyotsana Gupta</p>
        <p class="mb-0 green-color" style="font-size: 18px;">Mumbai, Maharashtra</p>
        <p class="mb-3" style="color: white; font-size: 24px;">Locus Homes took special care of our requirements and created a modern traditional home for us</p>
      </div>
      <div class="col-12 col-md-6 px-0 ps-lg-4 ps-md-2">
        <p class="mb-0 mt-3" style="color: white; font-size: 28px; font-weight: bold;">Omkar Khamitkar</p>
        <p class="mb-0 green-color" style="font-size: 18px;">Mumbai, Maharashtra</p>
        <p class="mb-3" style="color: white; font-size: 24px;">Locus Homes has made our flat into a home which we always wanted.</p>
      </div>
    </div>
    <div class="row w-100 mx-0">
      <div class="col-12 col-md-6 px-0 ps-lg-3 px-md-2 pe-lg-4 border-right">
        <p class="mb-0 mt-3" style="color: white; font-size: 28px; font-weight: bold;">Kartiki Thombre</p>
        <p class="mb-0 green-color" style="font-size: 18px;">Mumbai, Maharashtra</p>
        <p class="mb-3" style="color: white; font-size: 24px;">Locus Homes understood us and gave us our home of dreams</p>
      </div>
      <div class="col-12 col-md-6 px-0 ps-lg-4 px-md-2">
        <p class="mb-0 mt-3" style="color: white; font-size: 28px; font-weight: bold;">Nikita</p>
        <p class="mb-0 green-color" style="font-size: 18px;">Mumbai, Maharashtra</p>
        <p class="mb-3" style="color: white; font-size: 24px;">Getting our home interior done by Locus Homes is one of the best decision we had ever taken</p>
      </div>
    </div>
  </div>
</div>
