@import "../../styles.sass"

*
  color: white

.box
  background-color: darken($theme-dark-blue, 0.2%)
  border-left: 2px solid darken($theme-dark-blue, 4%)
  border-top: 4px solid darken($theme-dark-blue, 4%)
  border-right: 2px solid lighten($theme-dark-blue, 4%)
  border-bottom: 4px solid lighten($theme-dark-blue, 4%)

@media (max-width: 992px)
  .box
    border-radius: 5vw
    padding: 5vw

  .photo
    width: 100%
    aspect-ratio: 1
    object-fit: cover
    object-position: center
    background: url(../../assets/about.png)
    border-radius: 2.5vw

  p
    font-size: min(4vw, 24px)

@media (min-width: 992px)
  .box
    border-radius: 48px
    padding: 48px

  .photo
    width: 40%
    aspect-ratio: 1
    object-fit: cover
    object-position: center
    background: url(../../assets/about.png)
    border-radius: 24px

  p
    font-size: 24px
