<div class="dark-blue-bg px-5 pb-5">
  <div class="d-flex flex-row w-100 justify-content-center pt-3">
    <div class="flex-fill my-auto top-sep-white"></div>
    <p class="text-center my-auto mx-3 blue-color" style="font-size: 36px;">ABOUT US</p>
    <div class="flex-fill my-auto top-sep-white"></div>
  </div>

  <div class="d-flex flex-row justify-content-between box mb-5 mt-3 p-5">
    <div style="width: 40%; height: 400px; background-color: red; border-radius: 15px;"></div>
    <div class="flex-fill d-flex flex-row align-items-center p-5">
      <div class="d-flex flex-column me-3">
        <p class="mb-0">Name</p>
        <p class="mb-0">Designation</p>
      </div>
      <div class="d-flex flex-column">
        <p class="mb-0"><span class="me-3">:</span>Prathamesh Jagadish Patil</p>
        <p class="mb-0"><span class="me-3">:</span>Founder of Locus Infratech</p>
      </div>
    </div>
  </div>

  <div class="box d-flex flex-row justify-content-center p-4">
    <div class="d-flex flex-column me-3">
      <p class="mb-0">OFFICE ADDRESS<span class="ms-3">:</span></p>
    </div>
    <div class="d-flex flex-column">
      <p class="mb-0">
        G07/Vishnu Niwas Bd, Subhash Rd,<br>
        Navapada, Dombivli W - 421202
      </p>
    </div>
  </div>
</div>
