@import "../../styles.sass"

.nav-link
  padding-top: 8px
  padding-bottom: 8px
  padding-left: 16px
  padding-right: 16px
  height: 100%
  line-height: 54px
  color: $theme-green

.dropdown
  position: relative
  display: inline-block

.dropdown-content
  display: none
  top: 50px
  position: absolute
  background-color: lighten(rgba(#0F2028, 1), 0.1)
  min-width: 160px
  width: 700px
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  z-index: 1

.dropdown:hover .dropdown-content
  display: block

p
  margin-bottom: 0
