<div class="d-flex justify-content-center" style="background-color: grey;">
  <div class="p-5 d-flex flex-column mt-5 mb-5 dark-blue-bg" style="width: 35%; border-radius: 5px;">
    <input type="text" placeholder="Name" class="box">
    <input type="text" placeholder="Email Id" class="box">
    <input type="text" placeholder="Phone Number" class="box">
    <div class="d-flex flex-row justify-content-start my-2">
      <input type="checkbox" class="mt-auto" style="width: 20px; height: 20px;">
      <label class="ps-3 my-auto blue-color" style="line-height: 24px; font-weight: bold; font-size: 20px;">Send me updates on Whatsapp</label>
    </div>
    <button class="green-btn">Consult Now</button>
    <p class="blue-color">By submitting form, you agree to the <span style="color: white;">privacy policy</span> and <span style="color: white;">terms & conditions</span></p>
  </div>
</div>
