@import '../../styles.sass'

.carousel-indicators
  button
    width: 10px
    height: 10px
    border-radius: 50%

.consult-btn
  width: auto
  height: auto
  line-height: 1.25
  border: none
  color: white
  font-weight: bold
  background-color: $theme-green

p
  letter-spacing: 1px
  color: white

@media (min-width: 768px)
  .carousel
    height: calc(100vh - 64px)

  .carousel-img
    height: 100%
    object-position: center
    object-fit: cover

  p
    letter-spacing: 1px
    font-size: 48px

  .consult-btn
    font-size: 22px
    border-radius: 20px

@media (max-width: 767.5px)
  .carousel
    height: auto

  .carousel-img
    height: auto
    object-position: center
    object-fit: cover

  p
    letter-spacing: 0.2px
    font-size: 16px

  .consult-btn
    font-size: 12px
    border-radius: 10px
