@import '../../styles.sass'

.carousel-indicators
  button
    width: 10px
    height: 10px
    border-radius: 50%

.consult-btn
  width: auto
  height: auto
  line-height: 1.25
  font-size: 22px
  border: none
  border-radius: 20px
  color: white
  font-weight: bold
  background-color: $theme-green

p
  letter-spacing: 1px
  color: white
  font-size: 48px
